//картка члена команди
.team-member {
    background-color: $primary-white-color;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

//відстань між картками і чистка після останнього елементу
.team-member {
    margin-right: 30px;

    &:last-child {
        margin: 0;
    }
}

//опис тіммейта 
.team-member__description {
    padding-top: 30px;
    padding-bottom: 30px;
}

// фото тіммейта
.team-member__photo {
    display: block;

}

//піб тіммейта
.team-member__title {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

//позиція тіммейта
.team-member__position {
    margin-top: 0;
    margin-bottom: 16px;
    color: $secondary-text-color;
}