body {
    color: $primary-text-color;
    background-color: $primary-white-color;
    font-family: $main-page-font, sans-serif;
    font-style: normal;
    position: relative;
    padding-top: 80px;
}