// змінні
// кольори
$primary-text-color: #212121;
$pure-black-color: #000000;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$accent-color-active-button: #188CE8;
$primary-white-color: #ffffff;
$calm-button-bg-color: #F5F4FA;
$transp-foot-text-color: rgba(100%, 100%, 100%, 60%);
$secondary-bkg-color: #2F303A;
$bordering-color: #ECECEC;
$hero-gradient-color: rgba(47, 48, 58, 0.4);
$clients-border-color: #AFB1B8;

// шрифти

$main-page-font: 'Roboto';
$logo-font: 'Raleway';
 
// розміри та вага шрифтів

$main-titles-font-weight: 700;

